/*Estilos personalizados*/

.carousel-item img {
    width: 100%;
    height: 70vh;
}

.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.card-no-news:hover {
    cursor: not-allowed;
}

.card-no-news h3 {
    opacity: 0.5;
}

.card-no-news ul {
    opacity: 0.5;
}

.card-news:hover {
    cursor: pointer;
}

.card-news:hover h3 {
    text-decoration: underline;
}

.modal-body {
    text-align: justify;
}

.navbar {
    height: 70px;
}

#card-contacto {
    width: 30rem;
}

.anchor {
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}

.bold-text {
    font-weight: bold;
}

.card-cover {
    background-size: cover;
    background-position: center;
}

.card-cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.card-no-news::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-content {
    position: relative;
    color: white;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

nav ul li:hover {
    text-decoration: underline;
}

footer ul li:hover {
    text-decoration: underline;
}