.calc-display {
    background-color: rgb(23, 133, 13);
    color: black;
    text-align: end;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13%, 1fr));
    gap: 20px;
}

.equal-sign {
    height: 98%;
    grid-area: 2 / 4 / 6 / 6;
}

.calculator {
    margin: 0 auto;
}

.task-list {
    margin: 0 auto;
}

#health-count {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    font-weight: bold;
    font-size: larger;
}

.guess-game {
    margin: 0 auto;
    border: 1px solid white;
}

.lotery-game {
    border: 1px solid white;
}

/*Principalmente para que sea recogido despues desde JS*/
.lotnum {
    background-color: rgba(0, 0, 0, 0.0);
}

.res-lot {
    visibility: hidden;
}

.dig-verif {
    margin: 0 auto;
    border: 1px solid white;
}